@model IEnumerable<Amazon.Models.Book> //IEnumerable no hace operaciones con la lista (LISTA DE LIBROS)
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h2>Lista de Libros en Amazon</h2>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>NroPages</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Amazon.Models.Book book in Model)
            {
                <tr>
                    <td>@book.ISBN</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Price</td>
                    <td>@book.NroPages</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>