@model IEnumerable<Amazon.Models.Book> //IEnumerable no hace operaciones con la lista (LISTA DE LIBROS)
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h2>Lista de Libros en Amazon</h2>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>NroPages</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Amazon.Models.Book book in Model)
            {
                <tr>
                    <td>@(book?.ISBN ?? "<ISB no establecido>")</td>
                    <td>@(book?.Title ?? "<Titulo no Establecodo>")</td>
                    <td>@(book?.Author ?? "<Autor no establecido>")</td>
                    <td>@(book?.Price ?? 0)</td>
                    <td>@(book?.NroPages ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
    <h1>@($"Precio Total de los Libros es de " +
                $"{ViewBag.TotalPrice:c2}")</h1>
</body>
</html>